{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title> Log In </title>
</head>
<body>
    <main>
        <div class="auth-container">
            <div class = "page-title"> Log In </div>
            <img class = "form-logo" src = "{% static 'img/logo.png' %}" alt = "logo">
            <form class ="login-form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log in</button>
            </form>

            <a href="{% url 'signup' %}"> Sign up </a>
        </div>
    </main>    
</body>
</html>
