{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title> Inventroy </title>
</head>
<body>
    {% include "base/header.html"%}
    <main>
        <div class = "page-title"> Inventory </div>
        <div class="inventory-shopping-layout">
            <div class = "inventory">
                <h2 class ="inventory-title"> Inventory </h2>
            
                <div class = "pantry">
                    <h3> Pantry </h3>
                    {% for item in pantry %}
                    <div class = "product">
                        <span> {{ item.name }} </span>
                        <span> {{ item.quantity }} </span>
                        <span> {{ item.expiry_date }} </span>
                        {% if item.expires_soon %}
                          <span class = "badge"> Expiring Soon ! </span>
                        {% endif %}
                        <a href = "{% url 'delete_item' item.id %}"> Delete</a>
                    </div>
                    {% empty %}
                      <p> No items in Pantry yet</p>
                    {% endfor %}
                </div>

                <div class = "fridge">
                    <h3> Fridge </h3>
                    {% for item in fridge %}
                    <div class = "product">
                        <span> {{ item.name }} </span>
                        <span> {{ item.quantity }} </span>
                        <span> {{ item.expiry_date }} </span>
                        {% if item.expires_soon %}
                          <span class = "badge"> Expiring Soon ! </span>
                        {% endif %}
                        <a href = "{% url 'delete_item' item.id %}"> Delete</a>
                    </div>
                    {% empty %}
                      <p> No items in Fridge yet</p>
                    {% endfor %}
                </div>

                <div class = "freezer">  
                    <h3> Freezer </h3>
                    {% for item in freezer %}
                    <div class = "product">
                        <span> {{ item.name }} </span>
                        <span> {{ item.quantity }} </span>
                        <span> {{ item.expiry_date }} </span>
                        {% if item.expires_soon %}
                          <span class = "badge"> Expiring Soon ! </span>
                        {% endif %}
                        <a href = "{% url 'delete_item' item.id %}"> Delete</a>
                    </div>
                    {% empty %}
                      <p> No items in Freezer yet</p>
                    {% endfor %}
                </div>    

                <div class = "generate-meals">
                    <a href="{% url 'generatedmeals' %}"><button type="button"> Generate Meals </button></a>
                </div>
            </div>
            <div class = "items">
                <h2> Ingredients </h2>
                <form method = "POST" action = "{% url 'inventory' %}">
                    {% csrf_token %}
                    <input type = "text" name = "name" placeholder="ex. chicken" required>
                    <input type = "text" name = "quantity" placeholder="ex. 2">
                    <select name = "category">
                        <option value = "Pantry"> Pantry </option>
                        <option value = "Fridge"> Fridge </option>
                        <option value = "Freezer"> Freezer </option>
                    </select>
                    <input type = "date" name = "expiry_date">
                    <button type = "submit"> Add </button>
                </form>
            </div>   
        </div> 
    </main>    
</body>
</html>
