{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title> Profile </title>
</head>
<body>
        <div class = "page-title"> Profile </div>

        <!-- User account details -->
        <div class = "user-profile">
            <div class = "container-header"> Account Details </div>
            <div class = "container-body"> 
                <!-- Shows the logged in user's name -->
                <div class = "profile-field">
                    <strong> Name: </strong>
                    <p> {{ user.username }}</p>
                </div>

                <!-- Logout and backhome button-->
                <div class = "profile-actions" >
                    <a href="{% url 'logout' %}">
                        <button class ="logout-button"> Log Out </button>
                    </a>
                    <a href="{% url 'homepage' %}">
                        <button class ="back-button"> Back </button>
                    </a>       
                </div>     
            </div>
        </div>
</body>
</html>