{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title> Sign Up </title>
</head>
<body>
    <main>
        <!-- Sign up form container -->
        <div class = "auth-container">
            <img class = "form-logo" src = "{% static 'img/logo2.png' %}" alt = "logo">
            <h1 class="page-title">Sign Up</h1>

            <!-- Registration form using Django's user creation form -->
            <form class= "signup-form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> Sign Up</button>
            </form>
            <!-- Link back to login page -->
            <p class = "auth-switch"> 
                Already have an account? <a href ="{% url 'login' %}"> Log In </a>
            </p>
        </div>
    </main>    
</body>
</html>